@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-roboto: var(--font-roboto);
  --font-trajan: var(--font-trajan);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --radius: 0.5rem;

  --background: 0 0% 100%;

  --foreground: 127 39% 14%;

  --primary: 146 68% 25%;
  --primary-foreground: 0 0% 100%;

  --secondary: 145 80% 96%;
  --secondary-foreground: 146 68% 25%;

  --accent: 152 100% 29%;
  --accent-foreground: 0 0% 100%;

  --ring: 152 100% 29%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
}

.dark {
  --background: 127 39% 10%;
  --foreground: 210 40% 98%;

  --primary: 152 100% 29%;
  --primary-foreground: 0 0% 100%;

  --secondary: 146 68% 25%;
  --secondary-foreground: 210 40% 98%;

  --muted: 127 30% 15%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 146 68% 25%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 127 30% 20%;
  --input: 127 30% 20%;
  --ring: 152 100% 29%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-roboto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-montserrat;
  }
}
